<body>
    <div class="section-wrapper">
        <section class="section about" id="about">
            <div class="about-grid">
                <div class="profile-pic-div animated">
                    <a href="#about" class="self-link"><img src="{{ site.self_pic }}" class="self-pic" /></a>
                </div>

                <div id="about-text">
                    <div class="section-heading">About</div>
                    <p class="paragraph-text justify-text">
                        Hello, my name is Edwin, I’m passionate about games, programming and pixel art. I work as a
                        developer since 2010, work with games and mobile apps since 2013.
                    </p>
                    <p class="paragraph-text justify-text">
                        I work as Senior Unity Developer since 2016 also developed more than 30 projects, including
                        augmented reality apps, virtual reality and games.
                    </p>
                    <p class="paragraph-text justify-text">
                        I can adapt to any type of code base, I have a lot of experience with git, unity, C#, design
                        patterns. Also, I developed and published several projects for both ios and android.
                    </p>
                </div>
            </div>
        </section>
    </div>
</body>