<div class="section-wrapper">
    <section class="section contact" id="contact">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'd love to hear from you! Interesting work opportunity? Hit me up. Just want to talk about pixel art?
                Awesome.
            </p>
            <p class="paragraph-text justify-text">
                Please feel free to write to me for anything: <a href="mailto:{{ site.email }}">{{ site.email }}</a>. It
                might take me a day to get back, but rest assured, you'll hear from me.
            </p>
            <div class="contact-links">

                <span class="hint--bottom bottom-link" aria-label="email">
                    <a href="mailto:{{ site.email }}">
                        <i class="head-icon fas fa-envelope"></i>
                    </a>
                </span>

                <span class="hint--bottom bottom-link" aria-label="instagram">
                    <a href="{{ site.instagram }}">
                        <i class="head-icon fab fa-instagram"></i>
                    </a>
                </span>

                <span class="hint--bottom bottom-link" aria-label="linkedIn">
                    <a href="{{ site.linkedin }}">
                        <i class="head-icon fab fa-linkedin"></i>
                    </a>
                </span>

                <span class="hint--bottom bottom-link" aria-label="twitter">
                    <a href="{{ site.twitter }}">
                        <i class="head-icon fab fa-twitter"></i>
                    </a>
                </span>

                <span>
                    <a href="{{ site.gamejolt }}">
                        <img class="head-icon" src="{{ site.gamejolt_pic }}"
                            style="vertical-align:bottom; filter: brightness(0) saturate(100%) invert(69%) sepia(77%) saturate(610%) hue-rotate(358deg) brightness(100%) contrast(105%);"
                            width="30" />
                    </a>
                </span>
            </div>
        </div>
    </section>
</div>