<div class="section-wrapper">
    <section class="section contact" id="contact">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'd love to hear from you! Interesting work opportunity? Hit me up. Just want to talk about pixel art?
                Awesome.
            </p>
            <p class="paragraph-text justify-text">
                Please feel free to write to me for anything: <a href="mailto:{{ site.email }}">{{ site.email }}</a>. It
                might take me a day to get back, but rest assured, you'll hear from me.
            </p>
            <div class="contact-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Instagram">
                    <a href="{{ site.instagram }}"><i class="head-icon fab fa-instagram"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="LinkedIn">
                    <a href="{{ site.instagram }}"><i class="head-icon fab fa-linkedin"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>