<div class="section-wrapper">
    <section class="section experience" id="experience">
        <div>
            <h2 class="section-heading" id="experience-text">
                Experience
            </h2>

            <div class="experience-list">
                {% for experience in site.data.experience %}
                    <article class="experience-item">
                        <div class="experience-header">
                            <h3 class="experience-company">
                                {{ experience.company }}
                            </h3>

                            <p class="experience-period">
                                {{ experience.period }}
                            </p>
                        </div>

                        <p class="experience-role">
                            {{ experience.role }}
                        </p>

                        <ul class="experience-highlights">
                            {% for highlight in experience.highlights %}
                                <li>
                                    {{ highlight }}
                                </li>
                            {% endfor %}
                        </ul>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
</div>