<section class="head" id="front">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="/" class="profile-pic-link" aria-label="Go to homepage">
                <img
                    src="{{ site.logo }}"
                    class="profile-pic"
                    alt="Edwin Holanda"
                >
            </a>
        </div>

        <h1 class="head-name head-title animated" id="head-name">
            {{ site.title }}
        </h1>

        <p class="head-punchline animated">
            {{ site.description }}
        </p>
    </div>
</section>