<head>
    <title>
        {{site.title}}
    </title>

    <meta name="description" content="Portfolio - Edwin Jones Holanda | Senior Game Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="{{ site.logo }}" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Portfolio - Edwin Jones Holanda | Senior Game Developer" />

    <link rel="icon" type="image/x-icon" href="{{ site.favicon }}">

    <link rel="stylesheet" href="/assets/css/semi-transparent-buttons.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/progress.css" />
    <link rel="stylesheet" href="/assets/css/card.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/a1a0fb88b4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
</head>