<head>
    <title>
        {{site.title}}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a1a0fb88b4.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/css/semi-transparent-buttons.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/progress.css" />

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <meta name="description" content="Portfolio - Edwin Jones Holanda | Senior Game Developer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
</head>