<!-- <div class="head-menu-wrap">
    <a class="semi-transparent-button with-border white-button nav-links" href="#about">ABOUT</a>
    <a class="semi-transparent-button with-border white-button nav-links" href="#skills">SKILLS</a>
    <a class="semi-transparent-button with-border white-button nav-links" href="#projects">PROJECTS</a>
    <a class="semi-transparent-button with-border white-button nav-links" href="#contact">CONTACT</a>
</div> -->

<div class="head-menu-wrap">
    {% assign nav_key = page.nav_type | default: 'default_nav' %}
    {% for item in site.data.nav[nav_key] %}
    <a class="semi-transparent-button with-border white-button nav-links" href="{{ item.href }}">{{ item.title }}</a>
    {% endfor %}
</div>