<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.logo }}" class="profile-pic" /></a>
        </div>
        <div class="head-name head-title animated" id="head-name">
            {{ site.title }}
        </div>
        <div class="head-punchline animated">
            {{ site.description }}
        </div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#privacy">PRIVACY POLICY</a>
            <a class="semi-transparent-button with-border nav-links" href="#contact">CONTACT</a>
        </div>
    </div>
    <button onclick="topFunction()" id="topButton"></button>
</section>
<div class="section-wrapper">
    <section class="section" id="privacy">
        <div>
            <div class="section-heading" id="chat-text">Privacy Policy</div>
            <p class="paragraph-text justify-text">
                Todas as suas informações pessoais recolhidas, serão usadas para o ajudar
                a
                tornar a sua visita no nossos
                aplicativos o mais produtiva e agradável possível.
            </p>
            <p class="paragraph-text justify-text">
                A garantia da confidencialidade dos dados pessoais dos utilizadores do
                nossos
                aplicativos é importante para a
                EdwinGameDev.
            </p>
            <p class="paragraph-text justify-text">
                Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem a
                EdwinGameDev
                serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º
                67/98).
            </p>
            <p class="paragraph-text justify-text">O uso do EdwinGameDev e seus aplicativos pressupõe a aceitação deste
                Acordo de privacidade. A equipe do EdwinGameDev reserva-se ao direito de alterar este acordo sem aviso
                prévio. Deste modo, recomendamos que
                consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.
            </p>

            <h2>Os anúncios</h2>

            <p class="paragraph-text justify-text">
                Tal como outros websites, coletamos e utilizamos informação contida nos
                anúncios. A informação contida nos
                anúncios, inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider, como o
                Sapo,
                Clix, ou outro), o browser que utilizou ao visitar o nosso website (como o Internet Explorer ou o
                Firefox),
                o
                tempo da sua visita e que páginas visitou dentro do nosso website.
            </p>

            <h2>Ligações a Sites de terceiros</h2>

            <p class="paragraph-text justify-text">
                O EdwinGameDev possui ligações para outros sites, os quais, a nosso ver,
                podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade
                não
                é aplicada a sites de terceiros, pelo
                que,
                caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.
            </p>
            <p class="paragraph-text justify-text">
                Não nos responsabilizamos pela política de privacidade ou conteúdo
                presente nesses mesmos sites.
            </p>
        </div>
    </section>
</div>