<div class="section-wrapper">
    <section class="miniature-grid-section" id="projects">

        <div class="section-heading" id="featured-projects-text">Projects</div>
        <div class="miniature-grid">

            {% for project in site.projects %}

            <a class="miniature-card" href="{{ project.url }}">
                <div class="miniature-image" style="background-image: url('{{ project.thumbnail }}')"></div>
                <div class="miniature-info">

                    <h3 class="miniature-title">{{ project.title }}</h3>

                </div>
            </a>

            {% endfor %}

        </div>
    </section>
</div>