<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">

            <header class="section-heading" id="featured-projects-text">
                Projects
            </header>

            <div class="projects-wrapper">
                {% for project in site.projects %}
                {% if project.categories contains "featured" %}
                <div class="wrapper">
                    <div class="card radius card__content">

                        <div class="card__header">
                        </div>

                        <div class="card__image">
                            <a href={{project.url}}>
                                <img src={{project.images}} alt="image" id="project-image">
                            </a>
                        </div>

                        <div class="card__title">
                            <a href={{project.link}}>
                                {{project.title}}
                            </a>
                        </div>

                        <div class="card__tech card__padding">
                            {% for tech in project.technologies %}
                            <span class="card-technology paragraph-text-normal">{{ tech }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% endfor %}
            </div>

            <a class="nav-button with-border nav-links" href="/projects/">See more..</a>

        </div>
    </section>
</div>