<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">

            <header class="section-heading" id="featured-projects-text">
                Projects
            </header>

            <div class="project-technologies">
                <a id="featured" class="semi-transparent-button with-border white-button"
                    onclick="selected('featured')">
                    Featured
                </a>
                <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">
                    All
                </a>
                <a id="games" class="semi-transparent-button with-border white-button" onclick="selected('games')">
                    Games
                </a>
                <a id="augmented-reality" class="semi-transparent-button with-border white-button"
                    onclick="selected('AR')">
                    AR
                </a>
                <a id="game jam" class="semi-transparent-button with-border white-button"
                    onclick="selected('game jam')">
                    Game Jam
                </a>
            </div>

            <div class="projects-wrapper">
            </div>

        </div>
    </section>
</div>