<div class="section-wrapper">
  <section class="section projects" id="projects">
    <div class="projects-content">
      <h2 class="section-heading" id="projects-title">Selected Projects</h2>

      {% assign featured_projects = site.projects
        | where_exp: 'project', "project.categories contains 'featured'"
        | sort: 'featured_order'
      %}

      <div class="projects-grid">
        {% for project in featured_projects %}
          {%
            include project-card.html
            project=project
            show_summary=false
          %}
        {% endfor %}
      </div>

      <div class="projects-more">
        <a class="projects-more-link" href="/projects/"> View all projects </a>
      </div>
    </div>
  </section>
</div>
