.wrapper {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1.6rem;
}

.text-center {
	text-align: center;
}

.radius {
	border-radius: 40px;
}

.card__content {
	position: relative;
}

.card {
	height: 460px;
	width: 335px;
	box-shadow: 0px 0px 16px 0 #e770ff3d;

	background: url(/assets/images/project_card.png);
	background-color: #ffffff00;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	font-family: inherit;
	font-weight: bold;
	font-size: 1rem;
}

.card__padding {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.card__header {
	padding-top: 4.95rem;
}

.card__title {
	margin-top: 2.4rem;
	text-align: center;
	font-size: 1.1rem;
}

.card__image {
	min-height: 239px;
	max-height: 239px;

	margin-left: 3rem;
	margin-right: 3rem;

	overflow: hidden;
	display: flex;
	justify-content: center;

}

.card__image img {
	min-height: 100%;
	width: auto;
	height: auto;

	display: block;
	margin: auto;
}

.card__meta {
	margin-top: 1.6rem;
	font-size: 0.9rem;
	display: flex;
	justify-content: left;
}

.card-technology {
	border-radius: 4px;
	background-color: #0b8a8f;
	color: #30e1b9;
	margin: 0 4px;
	padding: 3px 5px;
}

.card-technology:first-child {
	margin-left: 0px;
}

.card-technology:last-child {
	margin-right: 0px;
}

.card__article {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
	margin-left: 1.8rem;
	margin-right: 1.8rem;

	font-size: 0.9rem;
	height: 8.2rem;
}


.card__title a {
	text-decoration: none;
	color: #ffffff;
	transition: all 0.5s ease;
}

.card__title a:hover {
	color: #ffc400;
}

#project-image {
	transition: all .5s;
}

#project-image:focus,
#project-image:hover {
	transform: scale(1.1);
}

#demo {
	transition: all .5s;
}